/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Reset */
/* Start of Custom Styles */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 0px 15px;
    margin: 0 auto;
    width: 970px;
    height: 70px;
}

/* Navigation Section */

.top-navigation {
    background-color: #fff;
    position:fixed;
    width: 100%;
    z-index: 9999;
}

.top-navigation .logo {
    height: 70px;
}

/* Navigational Links */

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* Hero Section */

.introduction {
    height: 45.938rem;
    background-image: url(../images/first-background.jpg);
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    color: #fff;
}

.introduction .content {
    text-align: center;
}

.introduction .content h1 {
    font-size: 3.125rem;
    font-weight: 300;
    margin-top: 5.5em;
}

.introduction h3 {
    font-size: 1.563rem;
    font-weight: 300;
    margin-top: 1.5rem;
}

.introduction .big-button {
    background-color: #f15a29;
    border-color: #f15a29;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin: 1.5rem auto;
    color: white;
    font-size: 1.125rem;
}

.introduction .big-button:hover {
    background-color: #d9400e;
    border-color: #d9400e;
    cursor: pointer;
}

/* Cases */
.cases {
    background-color: #fff;
    padding-bottom: 5rem;
    overflow: hidden;
}

.cases .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;

}

.cases h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0 1.875rem;
}

.cases .devices {
    width: 33.3333333%;
    float: left;
}

/* Footer */

.social {
    text-align: center;
    overflow: auto;
    background-color: #fff;
    padding-bottom: 9.375rem;
}

.social .icons li {
    border: 1px solid #eaebec;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    padding: 0.625rem 0;
    margin-top: 1rem;
    margin-right: .5rem;
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.1313rem 0;
}

.social h5 {
    margin-top: 1rem;
}

.social p {
    margin-top: 1rem;
    color: #838994;
    font-weight: 300;
    font-size: 0.9rem;
}